{% extends 'base.html' %}

{% block content %}
  <style>
  h1 {
      font-family: 'Kurale', serif;
  }
  </style>

  <!-- About Container -->
  <div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h1 class="w3-center w3-padding-64">About Me</h1>
      <center><p>Hi! My name is Haley and I am a book lover. I got my degree in Chemical Engineering and always knew I would have a STEM career.
        But while I was at work one day, one of my coworkers was asking about my passions – and recording information on biological samples all day was absolutely not it.
        But put on the spot, I couldn’t really come up with my passion.</p></center>
      <center><p>Later that day, I saw one of my favorite authors updated the title of her next book – and it launched me into a discussion about cliff
        hangers and book release schedules and an in depth look at the synopsis provided on Amazon. And of course, it clicked – here was my passion.
        For as long as I can remember, I have always loved to read. I will wake up at midnight on release days, cry along with the characters I’m reading about,
        day dream about book boyfriends that I wish weren’t fictional, and savor over those happily ever afters.</p></center>
      <center><p>So to spare my poor coworkers who have no idea what I’m talking about 90% of the time, I decided to start this blog, where I can share my thoughts with
        fellow book lovers. Truly, I think my goal is to one day be an author, to have others talking about my own books.
        But that’s still a long ways away and for now, please enjoy my musings (and likely rambles)!</p></center>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
{% endblock %}
