<!-- templates/base.html -->
<!-- Main view for the entire site -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Happily Haley Ever After</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kurale">
  <style>
    body, html {
        height: 100%;

        font-family: 'Kurale', serif;
    }
    .bgimg {
        background-position: center;
        background-size: cover;
        background-image: url("http://hdqwalls.com/wallpapers/coffee-cup-drink-notebook-table-dp.jpg");
        min-height: 75%;
    }
    .menu {
        display: none;
    }
    h5 {
        font-family: 'Kurale', serif;
    }
  </style>
</head>
  <body>

    <!-- Links (sit on top) -->
    <div class="w3-top">
      <div class="w3-row w3-padding w3-black">
        <div class="w3-col s4">
          <a href="{% url 'showMainPage' %}" class="w3-button w3-block w3-black">HOME</a>
        </div>
        <div class="w3-col s4">
          <a href="{% url 'showAboutPage' %}" class="w3-button w3-block w3-black">ABOUT</a>
        </div>
        <div class="w3-col s4">
          <a href="{% url 'showContactPage' %}" class="w3-button w3-block w3-black">CONTACT</a>
        </div>
      </div>
    </div>

    <!-- Header with image -->
    <header class="bgimg w3-display-container w3-grayscale-min" id="home">
      <div class="w3-display-middle w3-center">
        <span class="w3-text-white" style="font-size:90px">happily Haley<br>ever after<br><h5>Daydreaming about happily ever afters!</h5></span>
      </div>
    </header>
    <!-- Add a background color and large text to the whole page -->
    <div class="w3-sand w3-white w3-large">
      <main>
      {% block content %}
      {% endblock %}
      </main>

      <!-- Footer -->
      <footer class="w3-center w3-black w3-padding-48 w3-large">
        <p><a href="{% url "admin:index" %}" title="Admin" target="_blank" class="w3-hover-text-gray">ADMIN</a></p>
      </footer>
    </div>
  </body>
</html>
